<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>option-3</title>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="../css/my-element-ui.css">
    <link rel="icon" href="https://cn.vuejs.org/logo.svg">
</head>
<body>
<el-main id="app"
>
    <template>
        <el-select v-model="value" placeholder="请选择">
            <el-option
                    v-for="item in options"
                    :key="item.值"
                    :label="item.标签"
                    :value="item.标签">
            </el-option>
        </el-select>
    </template>


</el-main>
</body>

<script src="../plugins/vue/vue.js"></script>
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script src="../plugins/axios/axios.min.js"></script>


<script>
    new Vue({
        el: '#app',
        data() {
            return {
                options: [{
                    '值': '选项1',
                    '标签': '黄金糕'
                }, {
                    '值': '选项2',
                    '标签': '双皮奶'
                }, {
                    '值': '选项3',
                    '标签': '蚵仔煎'
                }, {
                    '值': '选项4',
                    '标签': '龙须面'
                }, {
                    '值': '选项5',
                    '标签': '北京烤鸭'
                }],
                value: ''
            }
        }
    })
</script>
</html>