<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>智慧水产养殖知识图谱查询</title>
    <!-- import CSS -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="../css/my-element-ui.css">
    <link rel="icon" href="https://cn.vuejs.org/logo.svg">
</head>

<style>
    .el-main {
        background-color: #161b22;
        color: #8b949e;
        margin-left: 20px;
        margin-right: 20px;
        /*line-height: 60px;*/
        padding: 0px;
    }

    .el-container {
        padding: 0px;
        margin: 0px;
        background-color: #161b22;
        border-bottom: 1px solid #7ee787;
        border-left: 1px solid #7ee787;
        border-right: 1px solid #7ee787;
        color: #8b949e;
        line-height: 60px;
        padding: 0px;
    }

    html, body, #app {
        padding: 0px;
        margin: 0px;
        height: 100%;
    }

    /*对话框*/
    .el-dialog {
        background: #161b22;
    }

    .el-dialog__title {
        color: #7ee787;
    }

    .el-dialog__body {
        padding-top: 10px;
    }

    .el-dialog__header {
        line-height: 12px;
    }

    .el-dialog__headerbtn .el-dialog__close:hover {
        color: #7ee787;
    }

    /*描述列表*/
    .el-descriptions .is-bordered .el-descriptions-item__cell {
        border: 1px solid #7ee787;
    }

    .el-descriptions-item__label.is-bordered-label {
        /*font-weight: 700;*/
        color: #7ee787;
        background: #161b22;
    }

    .my-el-descriptions-item-content {
        color: #7ee787;
        background: #161b22;
    }

    /*级联下拉框*/
    .el-cascader-dropdown__item {
        color: #8b949e;
    }
    .el-cascader-node.in-active-path, .el-cascader-node.is-active, .el-cascader-node.is-selectable.in-checked-path {
        color: #7ee787;
    }
    。el-cascader-node__label, .el-cascader-node__label:hover {
        background-color: #2a2f3b;
    }
    .el-cascader-node:not(.is-disabled):focus, .el-cascader-node:not(.is-disabled):hover {
        background: #2a2f3b;
    }

    .el-cascader .el-input .el-input__inner:focus, .el-cascader .el-input.is-focus .el-input__inner {
        border-color: #7ee787;
    }


</style>
<body>
<el-main id="app" style="display: none;" :style="{display: 'block'}">
    <el-container style="height: 100%">
        <el-header style="text-align: center; font-size: 24px; text-align: left; ">
            <div style="height: 60px; background-color: #161b22">
                <template>
                    <el-cascader
                            :options="heads"
                            @change="headChange"
                            :props="{emitPath: false}"
                            :show-all-levels="false"
                            v-model="selectedHead"
                            filterable
                            clearable></el-cascader>
                    <el-select name="relation"
                               id="relation"
                               v-model="selectedRelation"
                               filterable
                               clearable
                               placeholder="请选择节点关系"
                               style="width: 400px; margin-left: 100px; margin-right: 100px">
                        <el-option
                                v-for="(item,index) in relations" v-bind:value="item">{{item}}
                        </el-option>
                    </el-select>
                </template>
                <el-button @click="searchGraph" icon="el-icon-search">查询知识图谱</el-button>
            </div>
        </el-header>


        <!--知识图谱 -->
        <el-main>
            <div id="graph" style="width: 100%;height:100%; background-color: #292c33"></div>
            <!-- 节点信息描述列表 -->
            <el-dialog title="节点信息" :visible.sync="dialogTableVisible">
                <el-descriptions :column="1" border>
                    <el-descriptions-item
                            v-for="(value, key) in nodeInfo"
                            v-bind:label="key" content-class-name="my-el-descriptions-item-content">{{value}}
                    </el-descriptions-item>
                </el-descriptions>
            </el-dialog>
        </el-main>

    </el-container>

    </div>

</body>
<script src="../plugins/vue/vue.js"></script>
<script src="../plugins/axios/axios.min.js"></script>
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script src="https://cdn.jsdelivr.net/npm/echarts@4.5.0/dist/echarts.min.js"></script>


<script>
    const app = new Vue({
        el: "#app",
        data: {
            selectedHead: '',
            selectedRelation: '',
            heads: [],
            relations: [],
            triplets: [],
            nodeInfo: {},
            dialogTableVisible: false,
        },
        created() {
            this.getHeads()
        },
        methods: {
            // 查询所有节点
            getHeads() {
                axios.get("http://localhost:8080/neo4j/getHeads")
                    .then(({data}) => {
                        let set = new Set()
                        for (let i = 0; i < data.length; i++) {
                            set.add(data[i].label)
                        }
                        for (let x of set) {
                            let head = {
                                value: x,
                                label: x,
                                children: []
                            }
                            this.heads.push(head)
                        }
                        for (let i = 0; i < data.length; i++) {
                            for (let j = 0; j < this.heads.length; j++) {
                                if (this.heads[j].value === data[i].label) {
                                    let head = {
                                        value: data[i].name,
                                        label: data[i].name,
                                    }
                                    this.heads[j].children.push(head)
                                }
                            }
                        }
                    })
                    .catch(err => {
                        this.$message.error("数据异常")
                    })
            },
            // 选择的节点改变时，查询节点关系
            headChange(val) {
                this.relations = ''
                this.selectedRelation = ''
                if (val === null) {
                    this.selectedHead = ''
                }
                axios.get("http://localhost:8080/neo4j/getRelationsWithoutRepetition/" + val)
                    .then(({data}) => {
                        this.relations = data;
                    })
                    .catch(err => {
                        this.$message.error("数据异常")
                    })
            },
            // 查询知识图谱
            searchGraph() {
                if (this.selectedHead === '' && this.selectedRelation === '') {
                    axios.get("http://localhost:8080/neo4j/getRelations/")
                        .then(({data}) => {
                            this.triplets = data;
                            this.draw(data);
                        })
                        .catch(err => {
                            this.$message.error("数据异常")
                        })
                } else if (this.selectedHead !== '' && this.selectedRelation === '') {
                    axios.get("http://localhost:8080/neo4j/getRelations/" + this.selectedHead)
                        .then(({data}) => {
                            this.triplets = data;
                            this.draw(data);
                        })
                        .catch(err => {
                            this.$message.error("数据异常")
                        })
                } else if (this.selectedHead !== '' && this.selectedRelation !== '') {
                    axios.get("http://localhost:8080/neo4j/getRelations/" + this.selectedHead + '/' + this.selectedRelation)
                        .then(({data}) => {
                            this.triplets = data;
                            this.draw(data);
                        })
                        .catch(err => {
                            this.$message.error("数据异常")
                        })
                }
            },
            // 查询单个节点的属性
            searchNode(name) {
                axios.get("http://localhost:8080/neo4j/getHead/" + name)
                    .then(({data}) => {
                        this.nodeInfo = data;
                        this.dialogTableVisible = true;
                    })
                    .catch(err => {
                        this.$message.error("数据异常")
                    })
            },
            // 绘制知识图谱
            draw(triplets) {
                var myChart = echarts.init(document.getElementById('graph'));
                // 节点颜色
                let ColorList = [
                    '#ecb5c9', '#f79767','#8dcc93', '#f79767',
                    '#57c7e3', '#c990c0','#d9c8ae', '#f16667',
                    '#ffc53d', '#1890ff']
                var myNodes = []
                var myLinks = []
                var set = new Set();
                for (let i = 0; i < triplets.length; i++) {
                    set.add(triplets[i].startNode)
                    set.add(triplets[i].endNode)
                }
                set.forEach(function (element) {
                    var node = {
                        "name": element
                    }
                    node['draggable'] = true;  // 设置节点可拖拽
                    myNodes.push(node)
                })

                for (let i = 0; i < triplets.length; i++) {
                    var link = {
                        "source": triplets[i].startNode,
                        "target": triplets[i].endNode,
                        "value": triplets[i].relation,
                        "symbolSize": 10
                    }
                    myLinks.push(link)
                }
                var option = {
                    title: {
                        text: ''
                    },
                    tooltip: {},
                    animationDurationUpdate: 1500,
                    animationEasingUpdate: 'quinticInOut',
                    label: {
                        normal: {
                            show: true,
                            textStyle: {
                                fontSize: 20
                            },
                        }
                    },
                    legend: {
                        x: "center",
                        show: false,
                    },
                    // 工具箱
                    toolbox: {
                        // 显示工具箱
                        show: true,
                        feature: {
                            mark: {
                                show: true
                            },
                            // 还原
                            restore: {
                                show: true
                            },
                            // 保存为图片
                            saveAsImage: {
                                show: true
                            }
                        }
                    },
                    series: [
                        {
                            type: 'graph',
                            layout: 'force',
                            symbolSize: 45,
                            focusNodeAdjacency: true,
                            roam: true,
                            edgeSymbol: ['none', 'arrow'],
                            categories: [{
                                name: '查询实体',
                                itemStyle: {
                                    normal: {
                                        color: "#009800",
                                    }
                                }
                            }, {
                                name: 'instance',
                                itemStyle: {
                                    normal: {
                                        color: "#4592FF",
                                    }
                                }
                            }, {
                                name: 'class',
                                itemStyle: {
                                    normal: {
                                        color: "#C71585",
                                    }
                                }
                            }],
                            label: {
                                normal: {
                                    show: true,
                                    textStyle: {
                                        // 节点文本颜色
                                        color: '#ffffff',
                                        fontSize: 15,
                                    },
                                }
                            },
                            force: {
                                repulsion: 1000
                            },
                            edgeSymbolSize: [4, 50],
                            edgeLabel: {
                                normal: {
                                    show: true,
                                    textStyle: {
                                        fontSize: 18
                                    },
                                    formatter: "{c}"
                                }
                            },
                            data: myNodes,
                            links: myLinks,
                            itemStyle: {
                                normal: {
                                    // 节点颜色
                                    color: function (param) {
                                        return ColorList[param.dataIndex]
                                    },
                                }
                            },
                            lineStyle: {
                                normal: {
                                    opacity: 0.9,
                                    width: 1.3,
                                    curveness: 0,
                                    symbolSize: 10,
                                    // 关系线颜色
                                    color: "#a5abb6",
                                }
                            }
                        }
                    ]
                };
                // 使用刚指定的配置项和数据显示图表。
                myChart.setOption(option);
                // 点击事件
                var _this = this
                myChart.on('click', function (param) {
                    if (param.dataType == 'node') {
                        _this.searchNode(param.name)
                    }
                });
                // 松开鼠标事件
                myChart.on('mouseup', function (params) {
                    var option = myChart.getOption();
                    // 设置节点拖拽后不复原位置
                    option.series[0].data[params.dataIndex].x = params.event.offsetX;
                    option.series[0].data[params.dataIndex].y = params.event.offsetY;
                    option.series[0].data[params.dataIndex].fixed = true;
                    myChart.setOption(option);
                });
            }
        }
    })
</script>
</html>

