*{
    margin: 0;
    padding: 0;
    font: 17px KaiTi;
    /*overflow: hidden;*/
}

/* 图标信息 */
@font-face {
    font-family: 'iconfont';
    src: url('iconfont.ttf?t=1665378007381') format('truetype');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon1{
    font-size: 34px;
}

/* 头部信息 */
.header{
    font-size: 34px;
    font-weight: bolder;
    text-align: center;
    padding-bottom: 10px;
    background-color: #E8FFE8;
    color: blue;
}

/* 具体内容-下拉列表 */
.content{
    background-color: #F1FAFA;
}
select{
    margin-right: 8px;
    width: 400px;
    height: 30px;
    line-height: 30px;
    border: solid 1px #000;
    border-radius: 3px;
    appearance:none;
    -moz-appearance:none;
    -webkit-appearance:none;
    background: url("http://ourjs.github.io/static/2015/arrow.png") no-repeat scroll right center transparent;
    text-align: center;
}

button{
    width: 100px;
    height: 30px;
    color:white;
    background-color:cornflowerblue;
    border-radius: 3px;
    border-width: 0;
    margin-left: 20px;
    outline: none;
    text-align: center;
    cursor: pointer;
}

button:hover{
    color: #000;
}

/* 具体内容-知识图谱 */
.atlas{
    margin: 10px auto;
    width: 80%;
    height: 600px;
    border: #000 1px solid;
}

/* 尾部信息 */
.footer{
    height: 20px;
    background-color: #E8FFE8;
}